/* Font system */
html, body {
    font-family: "Segoe UI Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #161616;
   
    width: 100%;
    margin: 0;
    
}
@media screen and (max-width: 430px) {
    html, body {
        font-family: "Segoe UI Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        background-color: #161616;
       
        width: 120%;
       
        padding: 0;
    }
   
}
    




/* Navbar styles */
.navbar {
    background-color: #161616;
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Make navbar fixed */
    top: 0;
    left: 0;
    width: 100%; /* Cover the whole screen */
    z-index: 1000; /* Ensure navbar is on top of other content */
}
.orange-text {
    color: #FF3C00; /* Set color to orange */
}

.navbar img {
    width: 180px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.navbar-center ul {
    list-style-type: none;
    display: flex;
    margin-right: 60px;
   
}

.navbar-center ul li {
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.navbar-center ul li:last-child {
    margin-right: 0;
}

.navbar-center ul li a {
    color: #FFF;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.navbar-center ul li a:hover {
    color: #FF3C00;
}
.navbar-left {
    display: flex;
    justify-content: center;
    padding: 4px;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 6px;
 }

.navbar-right .contact-btn {
    padding: 10px 20px;
    border: solid #FF3C00;
    color: #FF3C00 ;
    border-width: thin;
   background-color: #66666600;
    border-radius: 50px;
    text-decoration: none;
    margin-right: 40px;
    padding-left: 40px;
    padding-right: 40px;

}
#hideprop{
    display: none;
}
#hidetemp{
    display: none;
}

/* Hamburger menu styles */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    margin-right: 20px;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #FFF;
    margin: 3px;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

/* Responsive navbar */
@media screen and (max-width: 768px) {
    .navbar-center ul {
        display: none;
    }

    .navbar-right {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .active {
        display: block;
    }
    #hideprop{
        display: flex;
    }

    .navbar-center.active ul {
        display: block;
        background-color: #161616;
        padding: 20px;
        position: absolute;
        
        left: 0;
        width: 100%;
        animation: slideDown 0.3s ease; /* Smooth slide down animation */
    }

    .navbar-center.active ul li {
        margin: 10px 0;
    }

    /* Update hamburger menu color */
    .line {
        background-color: #FFF;
    }
}

@media screen and (max-width: 400px) {
    .navbar-center.active ul {
        display: flex;
        background-color: #161616;
        padding: inherit;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 140vh;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5%;
        justify-content: center;
        font-size: 40px;
        left: 0;
        top:40%;
        width: 96%;
        animation: slideDown 0.3s ease; /* Smooth slide down animation */
    }
   
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/****************************************** Section-1 */


/* Section animation */
.service-section {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    
}

.service-section.active {
    opacity: 1;
}

/* Container styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Display in row by default */
}

/* Ensure content is in column on small screens */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }
}

/* Section content styles */
.left-side {
    flex: 1;
    padding: 20px;
}

.left-side h2 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFF;
}

.left-side h3 {
    font-size: 18px;
    color: #888;
    margin-bottom: 20px;
}

.contact-btn {
    padding: 10px 20px;
    display: inline-block;
    padding: 10px 20px;
   
    color: #FF3C00 ;
    border-width: thin;
    background-color: #1C1C1C;
    border-radius: 50px;
    text-decoration: none;
    margin-right: 40px;
    padding-left: 40px;
    padding-right: 40px;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #1f1f1f;
}

.right-side {
    flex: 1;
    text-align: center;
}

.right-side img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#section-1{
    padding-top: 100px;
}

.service-section:not(.active) {
    height: 0;
    overflow: hidden;
}



/****************************************** Section-2 */
.winners-section {
    padding: 50px 0;
}

.winner-title {
    text-align: center;
    margin-bottom: 30px;
    color: #FFF;
}

.winner-title h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.winner-title p {
    font-size: 18px;
    color: #666;
}

.benefit-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Adjust the minmax value */
    gap: 20px;
    max-width: 1400px; /* Adjust the maximum width for 3 items in a row */
    margin: 0 auto; /* Center the grid */
    padding-left: 30px;
    padding-right: 30px;
}

.benefit-item {
    background-color: #1c1c1c;
    color: #fff;
    padding: 20px;
    border-radius: 6px;
}

.image-box {
    width: 60px;
    height: 60px;
    background-color: #222222;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
    
}

.image-box img {
    width: 50%;
    height: 50%;
    object-fit: cover;
  
    
}

.content {
    margin-top: 20px;
}

.content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    color: #ccc;
}



/****************************************** Section-3 */
.project-section {
    padding: 50px 0;
    padding-left: 30px;
    padding-right: 30px;
}

.title-section {
    text-align: left;
    margin-bottom: 30px;
}

.title-section h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #FFF;
    padding-left: 15px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    flex: 1;
  
    padding: 15px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.project img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.project-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #FFF;
}

.project-info p {
    font-size: 16px;
    color: #666;
}

/* Media query for responsive layout */
@media screen and (max-width: 768px) {
    .projects {
        flex-direction: column; /* Change to column layout */
    }

    .project {
        flex: none; /* Don't grow or shrink */
        width: 100%; /* Take up full width */
    }
}



/****************************************** Section-4 */
.pricingmain {
    text-align: center; /* Center align pricingmain section */
    color: white; /* Set font color to white */
    padding: 50px 0; /* Add padding */
}
.pricingmain h2 {
    font-size: 36px;
    margin: 10px 0px 0px 0px;
}
.pricing1 p {
    color: #ffffffb0;
    margin: 10px 0px 20px 0px;
}

@media screen and (max-width: 768px) {
    .pricingmain {
        padding: 20px 0; /* Adjust padding for smaller screens */
    }
}

.buttons-row button {
    background-color: grey; /* Set button background color to grey */
    color: orange; /* Set button text color to orange */
    padding: 10px 20px; /* Add padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.buttons-row button:hover {
    background-color: rgb(44, 44, 44); /* Change button background color on hover */
}


.package h3, .package p, .package h4, .package .row {
    text-align: left; /* Left align text content */
}

.package button {
    background-color: rgb(39, 39, 39); /* Set button background color to grey */
    color: rgb(255, 81, 0); /* Set button text color to orange */
    width: 100%; /* Make button full width */
    padding: 15px 10px; /* Add padding */
    border: none;
    border-radius: 5px;
    border-radius: 300px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.packages {
    display: flex; /* Display contents in row */
    flex-wrap: wrap; /* Wrap contents to next line if needed */
    justify-content: space-between; /* Distribute items evenly with space between */
    padding-left: 20px;
    padding-right: 20px;
}

.package {
    width: calc(33.33% - 20px); /* Set width for each package with proper spacing */
    margin-bottom: 20px; /* Add bottom margin */
    padding: 20px; /* Add padding */
    box-sizing: border-box; /* Include padding in width calculation */
    text-align: center; /* Center align text content */
    background-color: #1C1C1C; /* Set background color to grey */
    color: white; /* Set font color to white */
    padding: 20px; /* Add padding */
    border-radius: 8px;
}
.package .row{
    margin: 14px 0px 0px 0px;
}
.package h3{
    font-size: x-large;
    margin-bottom: 5px;
}
.package h2{
    text-align: left;
    font-size: 50px;
}
.package h4{
    font-size: 12px;
    margin-top: 2px;
    color: #ffffff5b;
}


@media screen and (max-width: 768px) {
    .package {
        width: calc(90% - 20px); /* Set width to 90% on smaller screens */
      
    }
    .packages {
        flex-direction: column;
        align-items: center;
    }
    
    .packages {
        justify-content: center; /* Center align items on smaller screens */
    }
}


.pricing1 {
    padding: 15px 0px;
}

.buttons-row {
    background-color: #1D1D1D; /* Set background color to grey */
    text-align: center; /* Center align content */
   border-radius: 300px;
    margin: 0 auto; /* Center the row horizontally */
    max-width: 910px; /* Limit the width of the row */
   
    margin-bottom: 10px;
}

.buttons-row button {
    margin: 0; /* Remove any default margin */
    padding: 20px 70px; /* Add padding */
    background-color: transparent; /* Remove button background color */
     /* Add border */
    color: white; /* Set text color to white */
    border-radius: 300px;
    cursor: pointer;
}

.buttons-row button:not(:last-child) {
    margin-right: 10px; /* Add margin between buttons */
}



@media screen and (max-width: 768px) {
    
    .buttons-row {
        background-color: #131313; /* Set background color to grey */
        text-align: center; /* Center align content */
         border-radius: 20px;
        margin: 0 auto; /* Center the row horizontally */
        width: 90%; /* Adjust width for smaller screens */
        display: flex; /* Display contents in row */
        flex-wrap: wrap; /* Wrap contents to next line if needed */
        justify-content: space-between; /* Distribute items evenly with space between */
        flex-direction: column;
        align-items: center;
    }
    .buttons-row button {
        margin: 0; /* Remove any default margin */
        padding: 20px 0px 20px 0px; /* Add padding */
        background-color: transparent; /* Remove button background color */
         /* Add border */
        color: white; /* Set text color to white */
        border-radius: 10px;
        cursor: pointer;
        width: 100%;
    }
}


.design {
    display: flex;
    flex-wrap: wrap; /* Ensure items wrap to next line when there's not enough space */
    justify-content: center; /* Center-align items horizontally */
    gap: 20px; /* Add gap between items */
}

.design-item {
    width: 250px; /* Set width of each item */
    
    background-color: #1C1C1C; /* Set background color to grey */
    color: white; /* Set font color to white */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Center-align text content */
    margin-bottom: 20px; /* Add bottom margin between items */
}
@media (max-width: 768px) {
    .design-item {
        width: calc(90% - 20px);
    }
}

.design-item h3 {
    margin-top: 0;
    text-align: left;
    font-size: x-large;

}

.design-item .row {
    display: flex;
    align-items: center;
    justify-content: left; /* Center-align row content */
    font-size:small;
    margin: 10px 0px 0px 0px;
   
}

.design-item .row i {
    margin-right: 10px;
}

.design-item button {
    background-color: rgb(39, 39, 39); /* Set button background color to grey */
    color: rgb(255, 81, 0); /* Set button text color to orange */
    width: 100%; /* Make button full width */
    padding: 15px 10px; /* Add padding */
    border: none;
    border-radius: 5px;
    border-radius: 300px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin-top: 80px;
}

.consultation {
    display: flex; /* Use flexbox layout */
    flex-wrap: wrap; /* Allow items to wrap to next line */
    justify-content: center; /* Center align items horizontally */
}

.consultation-item {
    flex: 0 0 calc(20% - 20px); /* Set initial width to 33.33% with some margin */
    margin: 10px; /* Add margin between items */
    background-color: #1C1C1C; /* Set background color to grey */
    color: white; /* Set font color to white */
    padding: 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .consultation {
        flex-direction: column; /* Change to column layout on smaller screens */
        align-items: center; /* Center align items vertically */
    }

    .consultation-item {
        width: 80%; /* Set width to 100% on smaller screens */
    }
    
}

.consultation-item h3{
    margin: 0; /* Remove margin for headings and paragraphs */
    text-align: left;
    font-size: x-large;
}
.consultation-item p {
    text-align: left;
    font-size: medium;
    margin: 10px 0px 20px 0px;
    
}

.consultation-item .row {
    margin-bottom: 10px; /* Add margin below the row */
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center align items vertically */
   margin: 10px 0px;
}

.consultation-item .row i {
    margin-right: 10px; /* Add margin to the right of the icon */
   
}
.consultation-item .row span {
    font-size: small; /* Add margin to the right of the icon */
    text-align: left;
   
}

.consultation-item button {
    background-color: rgb(39, 39, 39); /* Set button background color to grey */
    color: rgb(255, 81, 0); /* Set button text color to orange */
    width: 100%; /* Make button full width */
    padding: 15px 10px; /* Add padding */
    border: none;
    border-radius: 5px;
    border-radius: 300px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin-top: 80px;
}







.division1, .division2, .division3 {
    opacity: 0;
   display: none;
    transition: opacity 0.5s ease-in-out;
}

.division1.active, .division2.active, .division3.active {
    opacity: 1;
    
}


.active {
    display: block; /* Show active division */
    transition: opacity 0.5s ease-in-out;
}

/****************************************** Section-5 */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
    color: white;
}

.footer-left img {
    width: 200px; /* Adjust width as needed */
    height: 100%;
}

.footer-left p {
    margin: 0;
    font-size: small;
}

.footer-right ul {
    list-style: none;
    padding: 0;
    color: white;
    margin: 0;
}

.footer-right ul li {
    display: inline;
    text-decoration: none;
    color: white;
    font-weight:normal;
    margin-right: 20px; /* Adjust spacing between links */
}
.footer-right ul li a{
    
    text-decoration: none;
    color: white;
    font-weight: bold;
  
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-right {
        margin-top: 20px; /* Adjust spacing between sections */
    }

    .footer-right ul li {
        display: block;
        margin: 10px 0;
    }
}



